:root {
  --bg-color: black;
  --text: #252525;
  --sliders: #d8d5ce;
  --minHeader: 10vh;
  --minHeaderMobile: 5vh;
  --margin: 3vw;
  --marginMobile: 4vw;

  --desktopFontSize: calc(11px + 0.390625vw);
  --mobileFontSize: calc(15px + 0.390625vw);
  --marginTop: 5vh;
}

@font-face {
  font-family: "AkkuratPro-Light";
  src: url("data/fonts/Akkurat_Pro_Light.woff") format("woff");
}

#cursor {
  position: fixed;
  background-color: #d7d6d4;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: 300;
}

#cursor.active {
  width: 6em;
  height: 6em;
}

.link-container {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overscroll-behavior-y: contain;
}

a {
  color: white;
}
body {
  background-color: var(--bg-color);
  font-family: "AkkuratPro-Light";
  padding: 0;
  margin: 0;
  cursor: none;
}

main {
  position: relative;
}

.progress {
  background-color: var(--text);
  position: absolute;
  z-index: -1;
  mix-blend-mode: multiply;
}

.divTop,
.divBottom,
.divRight,
.divLeft {
  z-index: 500 !important;
}

.divLeft div {
  width: 40px !important;
}

.faixaTitle .faixaNum.active-track,
.faixaTitle .faixaNum.active-track ~ p {
  font-weight: bold;
}


.divTop {
  position: absolute;
  top: 0;
}

.divBottom {
  position: absolute;
  bottom: 0;
}

.divTop div:last-child,
.divBottom div:last-child {
  border-right: none !important;
}

.divRight {
  position: absolute;
  right: 0;
}

.divLeft {
  position: absolute;
  left: 0;
}

.divRight,
.divLeft {
  position: absolute;
  top: 0;
  height: calc(var(--vh, 1h) * 100);
  width: 40px;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  align-items: center;
  justify-content: flex-start;
}

.divTop,
.divBottom {
  width: 100vw;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.divTop div:nth-child(n) {
  border-right: calc(1px * var(--i)) solid white;
}
.divBottom div:nth-child(n) {
  border-right: calc(1px * var(--i)) solid white;
}
.divRight div:nth-child(n) {
  border-top: calc(1px * var(--i)) solid white;
}
.divLeft div:nth-child(n) {
  border-top: calc(1px * var(--i)) solid white;
}
.divTop div:nth-child(n)::before,
.divBottom div:nth-child(n)::before,
.divRight div:nth-child(n)::before,
.divLeft div:nth-child(n)::before {
  content: attr(--i);
} /* Definindo o valor inicial da variável --i */
.divTop div:nth-child(1),
.divBottom div:nth-child(1),
.divRight div:nth-child(7),
.divLeft div:nth-child(7) {
  --i: 0.5;
}
.divTop div:nth-child(2),
.divBottom div:nth-child(2),
.divRight div:nth-child(6),
.divLeft div:nth-child(6) {
  --i: 1;
}
.divTop div:nth-child(3),
.divBottom div:nth-child(3),
.divRight div:nth-child(5),
.divLeft div:nth-child(5) {
  --i: 1.5;
}
.divTop div:nth-child(4),
.divBottom div:nth-child(4),
.divRight div:nth-child(4),
.divLeft div:nth-child(4) {
  --i: 2;
}
.divTop div:nth-child(5),
.divBottom div:nth-child(5),
.divRight div:nth-child(3),
.divLeft div:nth-child(3) {
  --i: 2.5;
}
.divTop div:nth-child(6),
.divBottom div:nth-child(6),
.divRight div:nth-child(2),
.divLeft div:nth-child(2) {
  --i: 3;
}
.divTop div:nth-child(7),
.divBottom div:nth-child(7),
.divRight div:nth-child(1),
.divLeft div:nth-child(1) {
  --i: 3.5;
}

.divTop div:nth-child(8),
.divBottom div:nth-child(8){
  --i: 4;
}
.divTop div:nth-child(9),
.divBottom div:nth-child(9){
  --i: 4.5;
}

.divTop div:nth-child(10),
.divBottom div:nth-child(10){
  --i: 5;
}

.divTop div,
.divBottom div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.2s ease-in-out;
}

.divTop div{
  align-items: flex-end;
}

.divBottom div{
  align-items: flex-start;
}

.divRight div,
.divLeft div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.divLeft p,
.divRight p {
  transform: rotate(-90deg) translate(50%, 0);
}

.divLeft div{
  justify-content: flex-start
}

.divRight div{
  justify-content: flex-end;
}

.divTop div.visited:nth-child(n) {
  border-right: calc(1px * var(--i)) solid #ed1c24;
}
.divBottom div.visited:nth-child(n) {
  border-right: calc(1px * var(--i)) solid #ed1c24;
}
.divRight div.visited:nth-child(n) {
  border-top: calc(1px * var(--i)) solid #ed1c24;
}
.divLeft div.visited:nth-child(n) {
  border-top: calc(1px * var(--i)) solid #ed1c24;
}

.divRight div.visited,
.divLeft div.visited {
  transition: all 0.2s ease-in-out;
}


.divRight div:nth-child(1),
.divLeft div:nth-child(1) {
  border: none !important;
}

.divRight {
  justify-items: end;
}

.divLeft {
  justify-items: start;
}

#progressTop {
  left: 0;
  height: 100%;
}

.slider p {
  color: white;
}

.divRight p {
  margin-top: 100px;
}

#progressRight {
  bottom: 0;
  width: 100%;
}

.divRight p {
  transform-origin: left bottom;
  transform: rotate(270deg) translate(0, 100%);
  text-align: center;
  margin: 0;
}

.divLeft p {
  position: absolute;
  left: 100%;
  transform-origin: left bottom;
  transform: rotate(270deg);
  text-align: center;
  margin: 0;
}

#progressBottom {
  left: 0;
  height: 100%;
}

#progressLeft {
  bottom: 0;
  width: 100%;
}


.track {
  padding: 50px;
  height: calc(var(--vh, 1h) * 100 - 100px);
  width: calc(100vw - 100px);
}

.track video {
  object-fit: cover;
  height: calc(var(--vh, 1h) * 100 - 100px);
  width: calc(100vw - 100px);
}

.track video {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
}

.type {
  padding: 30px;
}

.startButton {
  text-align: center;
  color: var(--text);
  font-size: 20px;
  line-height: 20px;
  text-decoration: underline;
}

#startButton {
  fill: var(--text);
  stroke: var(--text);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  width: calc(25px + 0.5vw);
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 200;
}

.legendas {
  mix-blend-mode: screen;
}

.faixas {
  display: flex;
  width: calc(100% - 100px);
  position: absolute;
  bottom: 70px;
  z-index: 50;
  gap: 3vw;
  justify-content: center;
}

.faixas p {
  color: white;
}


@media screen and (max-width: 900px) {
  #cursor {
  }

  .faixas {
    display: flex;
    width: calc(100%);
    position: absolute;
    bottom: 70px;
    z-index: 50;
    justify-content: center;
    gap: 0;
    justify-content: space-around;
  }
}

/*Versão 2*/
html,
body {
  overscroll-behavior-y: contain;
}

body {
  background-color: var(--bg-color);
  font-family: "AkkuratPro-Light";
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  position: relative;
  z-index: 1;
  /* Colocar acima do teaser */
  overflow-y: auto;
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
  display: none;
  /* Evita interação quando oculto */
}

.active {
  opacity: 1;
  transition: opacity 1s ease;
  pointer-events: auto;
  /* Permite interação quando visível */
}

/*Grelha*/
.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-top: calc(var(--marginTop) * 1.5);
}

.gridProgram {
  gap: 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-top: calc(var(--marginTop) * 3);
  position: absolute;
  top: 0;
  width: 100vw !important;
  height: calc(100vh - var(--marginTop) * 3);
  
}

.col-10-desktop {
  grid-column: 10 / 11;
}

p {
  font-size: var(--desktopFontSize);
  color: white;
}

.textAlignRight {
  text-align: right;
  padding-right: var(--desktopFontSize);
}

.textAlignLeft {
  text-align: left;
  padding-left: calc(var(--desktopFontSize) / 4);
}

.textAlignRight1 {
  text-align: right;
}

.leftPad {
  padding-left: var(--desktopFontSize);
}

.rightPad {
  padding-right: var(--desktopFontSize);
}

/*Intro*/
/* Configuração padrão para desktop */
.teaser {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: calc(var(--vh, 1h) * 100);
}

.teaser video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#activediv {
  width: 100vw;
  height: 100vh;
  background-color: rgb(25, 25, 25);
  position: absolute;
  z-index: 50;
  opacity: 50%;
}

#track1 {
}

.teaser .legendas {
  object-fit: scale-down !important;
  position: absolute;
  top: calc(100vh / 7 * 2);
  left: calc(100vw / 10);
  width: calc(100vw / 10 * 5);
  height: auto;
}

#buttonStart p {
  text-decoration: underline;
}

#buttonStart {
  position: absolute;
  bottom: 0;
}

/*Experiência*/
.faixaNum {
  padding-right: var(--desktopFontSize);
}

.faixaNum:hover {
  font-weight: bold;
}
.active-track {
  font-weight: bold;
}

/* Define os estados de visibilidade */
.hidden {
  opacity: 0;
  visibility: hidden; /* Garante que o elemento não fique clicável */
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/*Subtitles*/
.col-2-width {
  grid-column: span 2;
}

.subtitlesContainer {
  padding-top: 20vh;
  opacity: 0.5;
}

.subtitlesSelected {
  opacity: 1 !important;
}

.subtitlesSelected p {
  text-wrap: pretty;
}

.visibiltyNone {
  visibility: hidden;
}

#legendas1 {
  grid-row: 2;
  grid-column: 2 / 4;
}

#legendas2 {
  grid-row: 2;
  grid-column: 4 / 6;
}

#legendas3 {
  grid-row: 2;
  grid-column: 6 / 8;
}

#legendas4 {
  grid-row: 2;
  grid-column: 8 / 10;
}

.teaser .activeVideo {
  display: block;
}

.introSelvagem .teaser video,
.enterSelvagem .teaser video {
  display: block !important;
}

button {
  all: unset;
  display: inline;
  font: inherit;
  color: inherit;
  cursor: pointer;
  width: 100%;
}

input {
  all: unset;
  border-bottom:none;
  font-size: var(--desktopFontSize);
  color: white;
}

input::placeholder {
  font-size: var(--desktopFontSize);
  color: white;
  background-color: transparent;
}

.textControl{
  line-height: 0.8rem;
}

#submitPassword:hover {
  font-weight: bold;
}

#loading {
  display: none;
  position: absolute;
  bottom:20vh;
  left: calc(100vw / 10);
}

.faixaTitle {
  display: flex;
}

#faixaInteration2 {
  grid-column: 2 / 4;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}
.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.video,
.legendas {
  transition: filter 0.5s ease; /* Transição suave de 0.5 segundos */
}

#menuContent1,
#menuContent2 {
  overflow: hidden; /* Garante que o conteúdo oculto não apareça */
  max-height: 0; /* Começa recolhido */
  transition: max-height 0.4s ease-in-out; /* Animação de altura */
}

#menuContent1.expanded,
#menuContent2.expanded {
  max-height: 500px; /* Altura suficiente para exibir todo o conteúdo */
}

#menuToggle,
#trackNumberPlaying,
#trackPlayingdiv {
  display: none; /* Inicialmente ocultos */
}

#menuToggle.visible,
#trackNumberPlaying.visible,
#trackPlayingdiv.visible {
  display: block; /* Ou flex, dependendo do layout */
}


#menuContent1 .faixaTitle{
  justify-content: flex-end;
}

#creditButton:hover {
  font-weight: bold;
}

.hidden {
  opacity: 0;
  pointer-events: none; /* Impede interações enquanto oculto */
  transition: opacity 0.4s ease-in-out;
}

.visible {
  opacity: 1;
  pointer-events: all; /* Permite interações quando visível */
  transition: opacity 0.4s ease-in-out;
}

#backCredits{
  position: absolute;
  bottom: 0;
  text-decoration: underline;
}

.desktopNone{
  display: none;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  p {
    font-size: var(--mobileFontSize);
    color: white;
  }

  .mobileNone {
    display: none !important;
  }

  .desktopNone{
    display: block;
  }
  

  /* Intro */
  .grid{
    padding-top:0!important;
  }
  .gridIntro {
    grid-template-columns: repeat(3, 1fr) !important;
    height: calc(var(--vh, 1h) * 100 - var(--marginTop) * 1.5);
  }
  .gridIntro .col-10-desktop {
    grid-column: 3 / 4;
  }

  /* Programa */
  .gridProgram {
    grid-template-columns: repeat(7, 1fr) !important;
    display: grid;
    gap: 0;
    height: calc(var(--vh, 1h)* 100);
    grid-gap: 0;
    transition: width 0.2s ease-in-out;
    width: calc(var(--vh, 1h)* 100) !important;
    transform: rotate(-90deg) translateX(0);
    padding-top:0!important;
}

#faixaInteration1{
  grid-column: 1 / 2;
}

#faixaInteration2{
  grid-column: 2 / 5;
}

#faixaInteration3{
  grid-column: 6 / 7;
}

#faixaInteration1, #faixaInteration2, #faixaInteration3{
  padding-top:calc(30px * 2);
}

  .divTop,
  .divBottom {
    grid-template-columns: repeat(6, 1fr);
  }

  .divTop {
    top: 0;
  }

  .divBottom {
    position: absolute;
    bottom: 0;
  }

  .divRight,
  .divLeft {
    width: 30px;
  }

  .divTop,
  .divBottom {
    height: 30px;
  }

  .luzTitle {
    text-align: right;
  }

  .divRight,
  .divLeft {
    grid-template-rows: repeat(7, 1fr);
  }

  .divLeft div {
    width: 30px !important;
  }

  .faixaTitle {
    grid-column: 3 / 5;
  }

  /* Legendas */
  .subtitlesContainer {
    padding: 5vh var(--mobileFontSize) 0 var(--mobileFontSize);
  }

  .gridSubtitles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .legendas{

  }

  .teaser .legendas {
    object-fit: scale-down !important;
    position: absolute;
    bottom: calc(100vh / 10);
    /* right: 0; */
    width: calc(100vh / 1.4);
    height: auto;
    transform: rotate(-90deg);
}

  #legendas1 {
    grid-row: 2;
    grid-column: 1 / 5;
  }

  #legendas2 {
    grid-row: 3;
    grid-column: 1 / 5;
  }

  #legendas3 {
    grid-row: 4;
    grid-column: 1 / 5;
  }

  #legendas4 {
    grid-row: 5;
    grid-column: 1 / 5;
  }

  /* Outro */
  .gridOutro {
    grid-template-columns: repeat(3, 1fr) !important;
    row-gap: calc(var(--marginMobile) * 2);
  }

  .mobileRow2 {
    grid-column: 1 / 2;
  }

  input::placeholder {
    font-size: var(--mobileFontSize);
    color: white;
    background-color: transparent;
  }

  #loading {
    position: absolute;
    top:60px;
    left: calc(var(--vh, 1h) * 100 / 7 * 4);;
  }
  
  .track1{
    position: relative;
  }

  .mediaTrack video {
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg) translateY(-25%);
}


.divTop div:nth-child(6),
.divBottom div:nth-child(6),
.divRight div:nth-child(7),
.divLeft div:nth-child(7) {
  --i: 0.5;
}
.divTop div:nth-child(5),
.divBottom div:nth-child(5),
.divRight div:nth-child(6),
.divLeft div:nth-child(6) {
  --i: 1;
}
.divTop div:nth-child(4),
.divBottom div:nth-child(4),
.divRight div:nth-child(5),
.divLeft div:nth-child(5) {
  --i: 1.5;
}
.divTop div:nth-child(3),
.divBottom div:nth-child(3),
.divRight div:nth-child(4),
.divLeft div:nth-child(4) {
  --i: 2;
}
.divTop div:nth-child(2),
.divBottom div:nth-child(2),
.divRight div:nth-child(3),
.divLeft div:nth-child(3) {
  --i: 2.5;
}
.divTop div:nth-child(1),
.divBottom div:nth-child(1),
.divRight div:nth-child(2),
.divLeft div:nth-child(2) {
  --i: 3;
}
.divTop div:nth-child(1),
.divBottom div:nth-child(1),
.divRight div:nth-child(1),
.divLeft div:nth-child(1) {
  --i: 3.5;
}

}
